.git
.github
.idea
.junie
.cursor
.vscode

node_modules
vendor
public/build
public/hot
public/storage

.env
.env.backup
.env.production
auth.json
bozorkey.pem
storage/*.key
storage/*.log
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*.php
storage/app/public/*

npm-debug.log
yarn-error.log
.phpunit.result.cache
composer.phar
*.zip
bozor_database
