(secure_headers) {
	encode gzip zstd

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "SAMEORIGIN"
		Referrer-Policy "strict-origin-when-cross-origin"
	}
}

{$APP_DOMAIN} {
	import secure_headers

	reverse_proxy {$APP_UPSTREAM:app:80}
}

{$STAGING_APP_DOMAIN:staging.bazaarjapan.link} {
	import secure_headers

	reverse_proxy {$STAGING_APP_UPSTREAM:bozor-staging-app:80}
}
